tests
results
streamlit
notebooks
datasets
.dvc
.github

.gitignore
.pre-commit-config.yaml
.python-version
.dvcignore

Confusion_matrix.jpeg
ROC_auc.jpeg
Precision_recall.jpeg

README.md
dvc.yaml
poetry.toml
setup.cfg
